.container {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;

  height: 100vh;
  /* background: white cover; */
  background: url("./assets/background3.jpg") no-repeat center center/cover;

  position: relative;
  overflow-y: scroll;
  position: relative;
  scroll-behavior: smooth;
}
.container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 70px;
  width: 100%;
  padding: 5px;
  gap: 10px;
  background: rgba(255, 255, 255, 0.538);
  border-bottom: 4px solid rgb(255, 166, 83);
  font-family: "Overlock SC", cursive;
  z-index: 1;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.links .link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  border-bottom: 2px solid transparent;
}
.link:hover {
  border-bottom: 2px solid rgb(255, 166, 83);
  color: black;
}
.logo {
  font-size: 34px;
  font-weight: bold;
}
.logo-link {
  text-decoration: none;
  color: black;
}
.homePage {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: auto;
  font-family: "Overlock SC", cursive;
  margin-top: 80px;
}
.homePage > h1 {
  font-size: 50px;
  margin-bottom: 0;
}
.homePage > p {
  font-size: 26px;
  margin-bottom: 0;
}

.homePage img {
  height: 300px;
  margin-top: 30px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

/* .items-container {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;

  width: 100%;

  position: relative;
}
.side-bar {
  position: fixed;
  top: 80px;
  left: 0;

  width: 300px;
  border: 1px red solid;
}
.item-card {
  display: flex;
  width: 500px;
  border: green solid 1px;
  justify-content: center;
}
.cards-wrap {
  background: dodgerblue;
  display: flex;
  position: absolute;
  flex-direction: column;

} */

.items-container {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: "Overlock SC", cursive;
}
.add-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;

  margin-bottom: 10px;
  padding-bottom: 5px;
}
.add-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.add-inputs input {
  background: rgba(254, 245, 237, 0.785);
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  font-family: "Overlock SC", cursive;
  font-size: 16px;
}
.btn {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  color: rgb(255, 166, 83);
  background: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
  margin: 5px 0px;
  font-family: "Overlock SC", cursive;
  font-size: 16px;
}
.btn:hover {
  background: rgb(252, 153, 67);
  color: white;
}
.cards-wrap {
  /* background: dodgerblue; */
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  width: 70%;
}
.item-card {
  display: flex;
  background: rgba(255, 240, 226, 0.853);
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 10px;
  font-family: "Overlock SC", cursive;
  box-shadow: rgba(8, 26, 9, 0.35) 0px 5px 15px;
}

.image {
  width: 60%;
}
.image img {
  max-width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 20px;
}

.description-wrap {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 22px;
  font-weight: bold;
}
.description {
  font-size: 20px;
  font-weight: lighter;
}

.spinner {
  margin-top: 85px;
  text-align: center;
}

@media (max-width: 850px) {
  .cards-wrap {
    width: 100%;
  }
  .item-card {
    width: 80%;
  }
}

/* popup window and inner style */
.popUp {
  width: 100%;
  height: 100%;
  background-color: rgba(195, 186, 169, 0.484);

  position: absolute;
  position: fixed;

  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popUpWindow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 380px;
  height: 250px;
  border: 2px solid rgba(255, 166, 0, 0.508);
  border-radius: 10px;
  background: rgba(253, 251, 251, 255);
}
.popUp h1 {
  font-size: 18px;
}
.btnYesNo {
  width: 80px;
  margin: 5px;
}

.update-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
}
.update-inputs input {
  background: rgba(254, 239, 237, 0.785);
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  font-family: "Overlock SC", cursive;
  font-size: 16px;
}
.btnUpdate {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
